# CMake build output
build/
bin/
out/

# vcpkg installed packages (vcpkg pobierze je sam podczas kompilacji)
vcpkg/installed/
vcpkg/buildtrees/
vcpkg/packages/

# Visual Studio files
.vs/
*.user
*.suo