# build and IDE specific
build/
out/
.vs/
.vscode/
bin/
obj/
vcpkg_installed/

# vcpkg installed packages (vcpkg pobierze je sam podczas kompilacji)
vcpkg/installed/
vcpkg/buildtrees/
vcpkg/packages/

# Visual Studio files
.vs/
*.user
*.suo
